@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>With this application you can follow latest Premier League ranking, latest match scores and teams statistics.</p>
