@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Sofia<br />
    Bulgaria, 1000<br />
    <abbr title="Phone">P:</abbr>
    0888555333
</address>

<address>
    <strong>Support:</strong> <a href="mailto:admin@a.com">admin@a.com</a><br />
</address>
