/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.carousel-inner .item img[src$=".jpg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    /* Hide captions */
    .carousel-inner, .carousel{
        height: 40em !important;
        width: 80em !important;
    }

    .carousel-inner > .item > img {
        height: 40em !important;
        width: 84em !important;
    }
}

.carousel-caption > p {
    font-weight: bold;
}

.details {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.details-btn {
    margin-top: 20px;
    width: 60px;
}

.details-container {
    margin-top: 30px;
}